.grid-container {
  display: grid;
  grid-template-columns: 40% 30% auto;
  margin-bottom: 10px;
}

.grid-item {
  font-size: 20px;
}

.heading {
  font-weight: 600;
}

.subscriber-info-container {
  margin: 20px;
}
